Problem -1

In a given string of characters 
- Find the Highest frequent character
- Find the second Highest Frequent Character
- Find the Kth Highest Frequent Character

In [1]:
# Read the string
n = input()
# Convert the string into a list
l=list(n)
d = dict() # Creating an empty Dictionary
for i in l:
    count = l.count(i) # Get the count of a 
    #particular character
    d[i] = count # Assigning the character as a key
    # count as its value
values_list = d.values()
ordered_list = sorted(values_list,reverse = True)
max_val = ordered_list[0]
# Finding out the highest frequent character
for i in d.items():
    if i[1] == max_val:
        print(i[0])

andhra
a

In [2]:
chr(67)

'C'

In [3]:
ord('C')

67

In [4]:
ord('c')

99

In [5]:
# Read the string
n = input()
# Convert the string into a list
l=list(n)
d = dict() # Creating an empty Dictionary
for i in l:
    count = l.count(i) # Get the count of a 
    #particular character
    d[i] = count # Assigning the character as a key
    # count as its value
values_list = set(d.values())
ordered_list = sorted(values_list,reverse = True)
ordered_list
# Kth Largest Frequent character has to be found out
k = int(input("Enter the Value K"))
if k>len(ordered_list):
    print("We didnot find the kth largest element for ",k) 
else:
    max_val = ordered_list[k-1]
    # Finding out the highest frequent character
    for i in d.items():
        if i[1] == max_val:
            print(i[0])

andhran
Enter the Value K2
d
h
r

Problem -2

In a given string of characters

    Find the least frequent character
    Find the second least Frequent Character
    Find the Kth least Frequent Character
- Convert a list into a unique list without using set()

# Higher Order Functions

In [8]:
def mul_two(n):
    return n*2

l1 = list(range(1,11))
list(map(mul_two,l1))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [11]:
l2 = [1.2,2.3,3.4,4.5,5.6,6.7,7.8,8.9,9.0]
# for i in l2:
#     l3.append(int(i))
list(map(int,l2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
weather_data = [("Hyderabad",32),("Guntur",40),
                ("Vijayawada",40),("Vizag",38),
                ("Rajahmundry",39)]

# Write a program that converts all the celius temp to 
# farenheit
# f = (9/5)*c + 32
# print the results the same way as weather_data 
# list is given
el = []
for i in weather_data:
    ft = i[1]*(9/5) + 32
    entry = (i[0],ft)
    el.append(entry)
el

[('Hyderabad', 89.6),
 ('Guntur', 104.0),
 ('Vijayawada', 104.0),
 ('Vizag', 100.4),
 ('Rajahmundry', 102.2)]

In [19]:
weather_data

[('Hyderabad', 32),
 ('Guntur', 40),
 ('Vijayawada', 40),
 ('Vizag', 38),
 ('Rajahmundry', 39)]

In [20]:
el

[('Hyderabad', 89.6),
 ('Guntur', 104.0),
 ('Vijayawada', 104.0),
 ('Vizag', 100.4),
 ('Rajahmundry', 102.2)]

In [23]:
def conversion(t):
    cn,ct = t
    return (cn,ct*(9/5) + 32)
list(map(conversion,weather_data))

[('Hyderabad', 89.6),
 ('Guntur', 104.0),
 ('Vijayawada', 104.0),
 ('Vizag', 100.4),
 ('Rajahmundry', 102.2)]

Goal: given a list of three dimensional points in the form of tuples, create a new list consisting of the distances of each point from the origin
	
Loop Method: 
	- distance(x, y, z) = sqrt(x**2 + y**2 + z**2)
	- loop through the list and add results to a new list
    
l = [(1,1,1),(1,5,7),(2,4,5),(3,6,9),(23,35,56),(22,33,44)]

In [34]:
from math import sqrt
def calculate_distance(point):
    x,y,z = point
    return sqrt(x**2+y**2+z**2)
l5 = [(1,1,1),(1,5,7),(2,4,5),(3,6,9),(23,35,56),(22,33,44)]
# empty_list = []
# for i in l5:
#     empty_list.append(calculate_distance(i))
# empty_list
list(map(calculate_distance,l5))

[1.7320508075688772,
 8.660254037844387,
 6.708203932499369,
 11.224972160321824,
 69.92853494818836,
 59.23681287847955]

In [35]:
# Given a list of lists of integers add all the 
# values in the sub-list and print the sum of the list
l6 = [[31,231,435],[1223,454,665],[12,1223,445,656,8778]]
list(map(sum,l6))

[697, 2342, 11114]

In [38]:
l7 = list(range(1,11))
def only_evens(x):
    if x%2 == 0:
        return True
    else:
        return False

list(filter(only_evens,l7))

[2, 4, 6, 8, 10]

In [40]:
l8 = [0,0,9,0,0,9,8,7,6,5,4,3,0,2,0,1]
def non_zero(arg):
    return arg!=0
list(filter(non_zero,l8))

[9, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [44]:
# Given a list of lists containing answers to an 
# algebra exam, filter out those that did not submit a 
# response for one of the questions, denoted by 0
l8 = [[3,0,8,9],[1,2,3,4],[5,6,7,0],[23,45,56,67,89]]
def avoid_data(l):
    if 0 in l:
        return False
    else:
        return True
# for i in l8:
#     print(avoid_data(i))
list(filter(avoid_data,l8))

[[1, 2, 3, 4], [23, 45, 56, 67, 89]]

In [45]:
def mul_three(x):
    return x*3
mul_three(3)

9

In [48]:
y = lambda x:x*3
for i in range(1,11):
    print(y(i))

3
6
9
12
15
18
21
24
27
30

In [49]:
z = lambda x,y:x+y
z(10,20)

30

In [51]:
l9 = [12,13,14,15,16,17,18,19]
list(map(lambda n:n/2,l9))

[6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5]

In [61]:
from math import sqrt
l10 = [(1,1,1),(1,2,3),(4,4,4)]
list(map(lambda x:sqrt(x[0]**2+x[1]**2+x[2]**2),l10))

[1.7320508075688772, 3.7416573867739413, 6.928203230275509]

In [66]:
l11 = [0,0,0,0,12,13,14,15,16,0,17]
list(filter(lambda x:x!=0,l11))

[12, 13, 14, 15, 16, 17]

In [68]:
l12 = list(range(1,21))
list(filter(lambda x: x%2==0,l12))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [72]:
from functools import reduce
n = int(input("Enter Any Number"))
l13 = list(range(1,n+1))
reduce(lambda x,y:x+y,l13)

Enter Any Number5

15

lambda x,y:x*y     [1,2,3,4,5]

step-1:
    res1 = 2 (1*2)
step-2:
    res2 = 6 (res1*3)
Step-3:
    res3 = 24 (res2*4)
step-4:
    res4 = 120 (res3 * 5)

In [80]:
# Factorial of a given Number
num = int(input("Enter a Number"))
fact = 1
for i in range(1,num+1):
    fact = fact*i
print(fact)

Enter a Number5
120

In [81]:
# Find factorial using Reduce
from functools import reduce
num = int(input("Enter a Number"))
reduce(lambda x,y:x*y,list(range(1,num+1)))

Enter a Number5

120

In [83]:
l15 = [1,2,3,4,5]
reduce(lambda x,y:(x,y),l15)

((((1, 2), 3), 4), 5)

In [91]:
# Avg of all the elements in the list and filter those
# elements which are greater than the average

l16 = [1,2,3423,423,423,534,534,3456,456,457,3,4653,
       64,564,5745]
avg = reduce(lambda x,y:x+y,l16)/len(l16)
print("Average is ",avg)
list(filter(lambda x:x>avg,l16))

Average is  1382.5333333333333

[3423, 3456, 4653, 5745]

In [96]:
# Given an email how do you tell if it is spam?
s = input().split()
# For this example, lets focus on 'the'
# Let us suppose 'the' can appear for 3 times, if it
# appears more then 3 times, we say it is a spam
l17 = list(filter(lambda x: x=='the',s))
if len(l17)>3:
    print("SPAM BE ALERT WHILE YOU REPLY")
else:
    print("NOT A SPAM")

the the the pavan the
SPAM BE ALERT WHILE YOU REPLY

In [98]:
y = lambda a,b,c,d:(a*b+c)/d
y(1,2,3,4)

1.25